body{
    font-family: 'Happy Monkey';
    margin: 0;
    text-align: center;
    padding: 0;
}

.banner {
    position: relative;
    overflow: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.banner ul{
    height: 100%;
    padding: 0;
    margin: 0;
}

.banner li {
    background-size: 100% 100%;
    list-style: none;
    height: 550px;
}

.banner ul li {
    float: left; 
}

.titulos{
    color: #FFF;
    font-family: 'Happy Monkey';
    font-size: 3em;
    text-shadow: 5px 3px 3px #000;
    margin-top: 2em;
    margin-bottom: 0;;
}

@font-face {
       font-family: 'Happy Monkey';
       font-style: normal;
       font-weight: 400;
       src: local('Happy Monkey'), 
       local('HappyMonkey-Regular'),
       url(c2o0ps8nkBmaOYctqBq1rXhCUOGz7vYGh680lGh-uXM.woff)
       format('woff');
}

#texto_presentacion{
    background: #000;
    border-radius: 0.5em;
    text-shadow: 2px 2px 5px #FFF;
    color: #FFF;
    font-size: 25px;
    opacity: .80;
    max-width: 50%;
    margin: auto;
    padding: 1em;
    text-align: justify;
    width: 100%;
}

.banner .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

.banner .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #fff;
    border-radius: 6px;

    cursor: pointer;
    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

.banner .dots li.active {
    background: #fff;
    opacity: 1;
}

.banner .btn {
    display: inline-block;
    margin: 25px 0 0;
    padding: 9px 22px 7px;
    clear: both;

    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    border: 2px solid rgba(255,255,255,.4);
    border-radius: 5px;
    width: 200px;
}
.banner .btn:hover {
    background: rgba(255,255,255,.05);
}

#bt_galeria{
    background-image: url("../img/galeria.png");
    background-size: 40px 30px;
    background-repeat: no-repeat;
    background-opacity: .50;
}

#bt_contacto{
    background-image: url("../img/contacto.png");
    background-size: 40px 30px;
    background-repeat: no-repeat;
    background-opacity: .90;
}

#cont_galeria{
    border: 5px solid #BCF348; 
    max-width: 99%;
    width: 100%;
}

#cont_galeria h2{
    background: #BCF348;
    color: #fff;
    text-align: center;
    padding: 0.7em 0;
    margin: 0;
    max-width: 100%;
    text-shadow: 2px 2px #000;
    width: 100%;
}

#cont_antes, #cont_despues{
    display: inline-block;  
    max-width: 48%;
    height: 90%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

#cont_antes{
    border-right: 1px solid #BCF348;
}
#cont_despues{
    border-left: 1px solid #BCF348;
}

#cont_antes h3, #cont_despues h3{
    border-bottom: 2px solid #BCF348;
    max-width: 50%;
    margin: auto;
    width: 100%;
}

.fotos{
    cursor: pointer;
    border: 1px solid #000;
    max-width: 100px;
    height: 100px;
    margin: 0.5em;
    width: 100%;
}


