
*{
    text-transform: capitalize;
}
body{
    background: #eee;
}
iframe{
   max-width: 100%; 
   width: 100%;
}
footer{
    background-color: #1E8E77;
    border-top: 4px solid #ddd;
    color: #EEE;
    height: auto;
    text-align: center;
    max-width: 96%;
    margin: auto;
    width: 100%;
}

#titulo_prueba{
}

#btn-social{
    background: #FFF;
    color: #1E8E77;
    width: 130px;
}
.alert-success{
    color: #1E8E77;
}
.dropdown-menu li a:hover{
    color: #1E8E77;    
}
.caret{
    color:  #1E8E77;
}
.formulario_divs{
    display: inline-block;
    max-width: 40%;
    margin: 0.5em;
    text-align: left;
    width: 100%;
    vertical-align: top;
}
#cabecera, #central{
    background: #fff;
    max-width: 100%;
    margin: auto;
    width: 100%;
}

#btn-menu{
    background: #1E8E77;
    border: 1px solid #FFF; 
    border-radius: .3em; 
    color: #FFF;
}
#cabecera{
    border: 1px solid #ddd;
    height: 40px;
    border-bottom: none;
}

#central, #anexos{
    border: 1px solid #ddd;
    text-align: center;
    min-height: 500px;
    max-height: auto;
    overflow: auto;
}
#contenedor{
    background: #fff;
    max-width: 90%;
    margin: auto;
    width: 100%;
}

#contenedor img{
    border-bottom: 2px solid #eee;
    max-width: 100%;
    height: 50px;
    width: 100%;
}
#mensajes_grandes{
    border: 5px solid #d9d9d9;
    border-radius: 0.5em;
    background: #fff;
    display: none; 
    position: absolute;
    top: 20%;
    left: 20%;
    margin: auto;
    max-width:60%;
    height: auto;
    width: 100%;
    z-index: 1;
}

#cerrar_mensaje_grande{
    color: red;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 1em;
    float: right;
    font-weight: bold;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 25px;
}

#cerrar_mensaje_grande:hover{
    cursor: pointer;
    background: #fff;
}
