body{
    background: #eee;
}
.boton{
    width: 300px;
}
.parrafo{
    background: #1E8E77;
    border-top: 5px solid #DDD;
    border-radius: 1em;
    color: #EEE;
    text-align: justify;
    padding: 30px; 
    height: 280px;
    overflow: auto;
}
.parrafo b{
    color: #BDEBAB;
}
.text{
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: .4em;
    padding: 5px;
}
#login{
    margin: .3em;
    float: right;
}
#contenedor{
    background: #fff;
    max-width: 90%;
    margin: auto;
    width: 100%;
}

#contenedor img{
    border-bottom: 2px solid #eee;
    max-width: 100%;
    height: 50px;
    width: 100%;
}

#central{
    background: #fff;;
    max-width: 100%;
    width: 100%;
}
footer{
    background-color: #1E8E77;
    border-top: 4px solid #ddd;
    color: #EEE;
    height: 70px;
    text-align: center;
    max-width: 100%;
    width: 100%;
}
#titulo{
    padding: 0.5em;
    border-bottom: 2px solid #eeE;
}

input{
    border: 1px solid #ddd;
    background: #eee;
}
